<div class="container">

  <h1 class="test">spa-angular2-dotnet-auth</h1>
  <p class="lead">Corporate/Intranet SPA with Angular2 with ASP.NET Core</p>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Authentication</a>
    </li>
  </ul>
<br />
  <router-outlet></router-outlet>

</div>